---
import Section from "../Section.astro";

import {work} from "@cv";

const 
---
<Section title="Experience">
    <ul>
        {
        work.map(({name,startDate,endDate,position,summary}) => {
            return(
                    <li>
                        <h3>{name}</h3>
                        <h4>{position}</h4>
                        <p>{startDate} - {endDate}</p>
                        <p>{summary}</p>
                    </li>
                    )
                }
            )
        }
    </ul>
</Section>